.blue {
    background-color: #262a30 !important;
}
.a {
    border-bottom: 0px solid #999;
    text-decoration: none;
}
.about-page .project-item .card-title {
    font-weight: 400;
    font-size: 20px;
    text-shadow: 1px 1px 1px #000;
    line-height: 30px;
}
.card .card-content .card-title {
    line-height: 48px;
}
.card .card-image .card-title {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    /* padding: 20px; */
}
.card .card-title {
    font-size: 24px;
    font-weight: 300;
}
.card .card-image {
    position: relative;
}
.orange.lighten-1 {
    background-color: #ffa726 !important;
}
.chip {
    height: initial;
    line-height: 18px;
    padding: 4px 14px;
    color: #fff;
}
.chip {
    display: inline-block;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0,0,0,0.6);
    line-height: 32px;
    padding: 0 12px;
    border-radius: 16px;
    background-color: #e4e4e4;
}
.white-text {
    color: #fff !important;
}
.orange {
    background-color: #ff9800 !important;
}
.hide{
    display:none !important
}
.left-align{
    text-align:left
}
.right-align{
    text-align:right
}
.center,.center-align{
    text-align:center
}
.left{
    float:left !important
}
.right{
    float:right !important
}
.blue-text {
    color: #2196F3 !important;
}
.red-link-context a
    color #f44336 !important
    &:hover
        color #e57373 !important

.pink-link-context a
    color #E91E63 !important
    &:hover
        color #F06292 !important

.purple-link-context a
    color #9C27B0 !important
    &:hover
        color #BA68C8 !important

.deep-purple-link-context a
    color #673AB7 !important
    &:hover
        color #9575CD !important

.indigo-link-context a
    color #3F51B5 !important
    &:hover
        color #7986CB !important

.blue-link-context a
    color #2196F3 !important
    &:hover
        color #64B5F6 !important

.light-blue-link-context a
    color #03A9F4 !important
    &:hover
        color #4FC3F7 !important

.cyan-link-context a
    color #00BCD4 !important
    &:hover
        color #4DD0E1 !important

.teal-link-context a
    color #009688 !important
    &:hover
        color #4DB6AC !important

.green-link-context a
    color #4CAF50 !important
    &:hover
        color #81C784 !important

.light-green-link-context a
    color #8BC34A !important
    &:hover
        color #AED581 !important

.lime-link-context a
    color #CDDC39 !important
    &:hover
        color #DCE775 !important

.yellow-link-context a
    color #FFEB3B !important
    &:hover
        color #FFF176 !important

.amber-link-context a
    color #FFC107 !important
    &:hover
        color #FFD54F !important

.orange-link-context a
    color #FF9800 !important
    &:hover
        color #FFB74D !important

.deep-orange-link-context a
    color #FF5722 !important
    &:hover
        color #FF8A65 !important

.brown-link-context a
    color #795548 !important
    &:hover
        color #A1887F !important

.grey-link-context a
    color #9E9E9E !important
    &:hover
        color #E0E0E0 !important

.blue-grey-link-context a
    color #607D8B !important
    &:hover
        color #90A4AE !important
.about-page
    .header
        padding 0px 15px 30px

    .avatar-wrapper
        .avatar-image
            width 160px

    .info
        padding 0 20px
        p
            line-height 24px
            margin-top 25px
            margin-bottom 0
            color white
            text-shadow 1px 1px 1px #444
        .name
            font-size 1.8em
        .desc
            margin-top 15px
            font-size 1em

    .social-group
        margin-top 15px

    section
        margin-bottom 20px

    h1
        font-size 1.6rem
        margin-top 10px
        margin-bottom 15px

    // 技能
    ul.skill-list, ul.skill-list li
        list-style-type none

    ul.skill-list
        padding-left 0

    .skill-list li
        margin-bottom 0

    .split
        margin-top 5px

    .skills .fa
        margin-right 0

    // 项目
    .project-item
        display inline-block
        margin-right 25px
        width 45%

        img
            padding 0

        .card-title
            font-weight 400
            font-size 20px
            text-shadow 1px 1px 1px black
            line-height 30px

        .card-tag
            position absolute
            top 15px
            right 10px

// 重置
.about-page.row
    margin-left 0
    margin-right 0

    .row
        margin-left 0
        margin-right 0

    // .col
    //     padding-left 0
    //     padding-right 0
